/*Global variables*/
:root {
    --medium-dark-grey: rgba(37, 37, 37, 0.719);
    --font:'Roboto', sans-serif;

    --toDoColour: #a3cef1;
    --inProgressColour: #ffca28;
    --completedColour:  #81c784;

    --box-shadow-light: 0 0 1.25rem rgba(0,0,0,0.58);
    --box-shadow-hard: 0 0 3.75rem rgba(0,0,0,0.9);
} 

body{margin: 3rem;
    padding: 0
}

h1 {font-family: var(--font);
    font-size: xx-large;
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
}

h2 {font-family: var(--font);
    font-size: large;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
}

.groupsContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.tasksContainer {
    display: flex;
    flex: 1 1 calc(33.333% - 2rem); 
    flex-direction: column;
    min-width: 10rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    box-shadow: var(--box-shadow-light);
}

.listAndField{
    display: flex;
    flex-direction: column;
    height: 100%; 
    justify-content: space-between;
}

.toDo {
    background-color:var(--toDoColour);
}
.inProgress {
    background-color: var(--inProgressColour);
}
.completed {
    background-color: var(--completedColour);
}

#bin {
    display:block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0; 
}

.taskItem, .addTaskField {
    font-family: var(--font);
    font-size: medium;
    border-width: 2px;
    border-radius: 0.2rem;
    list-style-type: none; 
    padding: 0.2rem 1rem;
    background-color: beige;
    margin-bottom: 0.2rem;
    box-shadow: var(--box-shadow-light);
    transition: transform 0.15s ease;
}

.taskItem:focus, .taskItem:hover, .addTaskField:focus, .addTaskField:hover  {
    transform: scale(1.03);
    box-shadow: var(--box-shadow-hard);
    background-color: rgb(275,275,250);
}

.addTaskField {
    color: gray;
    border-style: none;
    text-align: center;
}

.taskItem {
    display:flex;
}

p {
    margin: 0;
}